@import url('http://fonts.googleapis.com/css?family=Merienda:400,700');
@import 'bootstrap';

$rsvp-bg-color:         #eeece0;
$rsvp-font-color:       #222;
$aboutus-bg-color:      #f48572 ;
$aboutus-font-color:    #fff;

body {
  position: relative;
  padding: 0 !important;
}

h2, h3, h4, h5, h6 {
  color: #555555;
  text-align: center;
}

h2 small, h3 small, h4 small, h5 small, h6 small {
  margin-left: 12px;
  font-size: 15px;
  font-style: italic;
  color: #000000;
  line-height: 5px;
  letter-spacing: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px dashed #eeeeee;
  border-bottom: 1px dashed #999999;
}

/* ========================================================================== */
/* Header / Logo
/* ========================================================================== */

.header-wrap {
  width: 100%;
  background: image-url('2.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 600px;
  margin-top: -60px;
  padding-top: 160px;
  text-align: center;
  h1 {
    font-weight: 400;
    font-size: 70px;
    color: #fff;
    margin-bottom: 25px;
  }
  .img-circle {
    padding: 30px;
    width: 405px;
    height: 405px;
    -webkit-border-radius: 350px;
    -moz-border-radius: 350px;
    border-radius: 350px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-repeat: repeat;
    background: image-url('o50.png');
    h1, h3, h4 {
      color: #ffffff;
      font-family: 'Merienda', cursive;
    }
    h1 {
      font-size: 30px;
    }
    h3 {
      background: image-url('decor-4.png') no-repeat center center;
      color: #555555;
      padding: 15px 0;
      font-size: 18px;
      margin-bottom: 20px;
      width: 400px;
      margin-left: -25px;
    }
    h4 {
      font-size: 18px;
      margin-bottom: 60px;
    }
    .decore-top {
      margin-bottom: 30px;
    }
  }
}

/*@media (max-width: 979px) {
  .header-wrap {
    margin-top: -30px;
    padding-top: 160px;
  }
}

@media (max-width: 640px) {
  .header-wrap .img-circle {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
}

@media (max-width: 640px) {
  .header-wrap .img-circle h1 {
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media (max-width: 640px) {
  .header-wrap .img-circle h3 {
    background: none;
    color: #ffffff;
    padding: 0;
    margin: 0;
    width: auto;
  }
}

@media (max-width: 640px) {
  .header-wrap .img-circle h4 {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 640px) {
  .header-wrap .img-circle .decore-top {
    margin-bottom: 0;
  }
}*/

/* ========================================================================== */
/* Welcome Line
/* ========================================================================== */

.welcome-wrap {
  padding-bottom: 15px;
  padding-top: 15px;
  background: #ffffff;
  color: #333333;
  .container {
    padding: 0px;
  }
  h2 {
    text-align: center;
    font-size: 30px;
    line-height: 34px;
  }
}

@media (max-width: 767px) {
  .welcome-wrap > .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* ========================================================================== */
/* About US
/* ========================================================================== */

.about-us {
  background: $aboutus-bg-color;
  padding-top: 30px;
  padding-bottom: 30px;
  color: $aboutus-font-color;
  h1, h2, h3, h4, h5, h6 {
    color: $aboutus-font-color;
  }
  p {
    color: lighten($aboutus-bg-color, 40);
    line-height: 30px;
    font-style: italic;
  }
  .image-inner {
    border-radius: 100% 100% 100% 100%;
    padding: 10px;
    background-color: #f9c7b7;
  }
  .img-circle {
    border-radius: 100% 100% 100% 100%;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -box-sizing: border-box;
    box-sizing: border-box;
  }
  .page-header {
    border: none;
    text-align: center;
    h1 {
      text-shadow: 2px 2px 0 darken($aboutus-bg-color, 10);
    }
  }
  .slogan {
    border-top: solid 1px lighten($aboutus-bg-color, 5);
    border-bottom: solid 1px lighten($aboutus-bg-color, 5);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 1px 1px 0 darken($aboutus-bg-color, 20);
  }
}

/* ========================================================================== */
/* Wedding
/* ========================================================================== */

.wedding-pre {
  width: 100%;
  background: url('../example/image3.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
  text-align: center;
  .page-header {
    margin: 170px 0 0 0;
    padding: 0;
    border: none;
    text-align: center;
    h1 {
      margin: 0;
      padding: 0;
      font-size: 70px;
      color: #ffffff;
      text-shadow: 2px 2px 0 #000000;
    }
  }
  .slogan {
    margin: 0;
    padding: 20px 0;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 1px 1px 0 #000000;
  }
}

/* ========================================================================== */
/* Contact/Venue
/* ========================================================================== */

.contact {
  padding: 30px 0;
  background: #333333;
  color: #f4f0e5;
  .page-header {
    border: none;
    text-align: center;
    h1 {
      text-shadow: 2px 2px 0 #776432;
    }
  }
  .slogan {
    border-top: solid 1px #555555;
    border-bottom: solid 1px #555555;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-size: 24px;
    color: #ffffff;
    text-shadow: 1px 1px 0 #776432;
  }
  .info {
    h4 {
      text-align: left;
      color: #ffffff;
    }
    a {
      color: #fff;
    }
    p {
      color: #999999;
      margin-bottom: 20px;
      font-size: 13px;
    }
  }
}

/* ========================================================================== */
/* RSVP
/* ========================================================================== */

.rsvp {
  background: $rsvp-bg-color;
  padding-top: 30px;
  padding-bottom: 30px;
  color: $rsvp-font-color;
  h1, h2, h3, h4, h5, h6 {
    color: $rsvp-font-color;
  }
  p {
    color: lighten($rsvp-font-color, 20);
    line-height: 30px;
    font-style: italic;
  }
  .page-header {
    border: none;
    text-align: center;
    h1 {
      text-shadow: 2px 2px 0 darken($rsvp-bg-color, 10);
    }
  }
  .slogan {
    border-top: solid 1px lighten($rsvp-bg-color, 5);
    border-bottom: solid 1px lighten($rsvp-bg-color, 5);
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-size: 24px;
    color: $rsvp-font-color;
    text-shadow: 1px 1px 0 darken($rsvp-bg-color, 20);
  }
}
/* Google Map
/* ========================================================================== */

.map {
  display: block;
  width: 100%;
  margin: 0px;
  margin-bottom: 30px;
}

/* Remove firefox dotted line
/* ========================================================================== */

a {
  outline: 0 !important;
  &:active, &:focus {
    outline: 0 !important;
  }
}

input {
  outline: 0 !important;
  &:active, &:focus {
    outline: 0 !important;
  }
}

select {
  outline: 0 !important;
  &:active, &:focus {
    outline: 0 !important;
  }
}